header {
    background-image: linear-gradient(325deg, #2253ae 74%, #191714 0%);
    color: white;
    margin-bottom: 20px;
}

form {
    padding-bottom: 5%;
    margin-left: 5px;
}

#search-bar {
    margin-bottom: 15px;
}

#recent-searches {
    margin-left: 5px;
}

.card {
    background-image: linear-gradient(325deg, #2253ae 74%, #191714 0%);
    color: white;
}

h4 {
    padding-top: 10px;
}

h5 {
    margin: 10px;


}
#save-btn-list {
    padding: 0;
}
#recent-searches {
    padding: 5px;
}